* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: white;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

    section {
        flex-grow: 1;
        background-size: cover;
        background-position: center;
        transition: all 0.7s ease;
        cursor: pointer;
        text-align: center;
        font-size: 28px;
        border: 4px solid rgb(16, 128, 183);
        border-radius: 18px;

        &:hover {
            flex-grow: 2;
        }
    }

    section:nth-child(1) {
        background-image: url(./kohli.jpg);
    }

    section:nth-child(2) {
        background-image: url(./rohit.jpg);
    }

    section:nth-child(3) {
        background-image: url(./dhoni.webp);
    }

    section:nth-child(4) {
        background-image: url(./rahul.webp);
    }

    section:nth-child(5) {
        background-image: url(./jaddu.webp);
    }
}