* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

main {
    height: 100vh;
    width: 100%;
    /* overflow-x: hidden; */
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

main::-webkit-scrollbar {
    display: none;
}

.allReels {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.reel {
    height: 99vh;
    width: 350px;
    background-color: black;
    position: relative;
    border-radius: 0.6rem;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    flex-shrink: 0;
}

.reel video {
    height: 100%;
    width: inherit;
    border-radius: inherit;
    object-fit: cover;
    object-position: center;
}

main .reel .right {
    position: absolute;
    padding: 0px 10px 6rem 0px;
    right: 0;
    bottom: 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 0.9rem;
}

.right .icon {
    cursor: pointer;
    font-size: 1.1rem;
}

.reel .bottom {
    position: absolute;
    bottom: 0;
    
    padding: 0rem 0rem 2.7rem 1rem;
}

.bottom .upper {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.bottom .upper img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.upper button {
    padding: 0.1rem 0.2rem;
    background-color: transparent;
    border: 2px solid #000000aa;
    color: white;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-weight: 550;
    cursor: pointer;
}

.upper h4 {
    color: white;
    font-weight: 550;
}

.lower p {
    color: white;
    opacity: 0.8;
    font-size: 1.1rem;
}