@font-face {
    font-family: main;
    src: url(./font1.woff);
}

@mixin flex-column ($gap: 0) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: main;
    background-color: #242424;
    color: #cfcfcf;
    font-size: clamp(14px, 1.5vw, 18px);
}

main {
    width: 100%;
    height: 100%;
    @include flex-column(0rem);
    align-items: center;

    section {
        max-width: 1600px;
        padding: 1rem;
        width: 100%;
    }

    section.view1 {
        @include flex-column(1rem);
        width: 100%;

        .top {
            width: 100%;

            img {
                width: 100%;
                border-radius: 0.8rem;
            }
        }

        .bottom {
            background-color: #373737;
            width: 100%;
            padding: 2rem;
            border-radius: 0.8rem;
            @include flex-column(1.5rem);

            .lower-text {
                @include flex-column(0.7rem);

                h1 {
                    text-transform: uppercase;
                    font-size: 2.78rem;
                }

                p {
                    font-weight: 200;
                    font-size: 1.5rem;
                    opacity: 0.6;
                    line-height: 1.5;
                }

                button {
                    width: fit-content;
                    outline: none;
                    border: none;
                    padding: 0.5rem 1rem;
                    border-radius: 1rem;
                    transition: all 0.7s ease;
                    cursor: pointer;
                }

                button:hover {
                    background-color: #373737;
                    border: 2px solid white;
                    color: white;
                }

            }

        }
    }

    section.view2 {
        @include flex-column(2rem);
        width: 100%;

        .cp,
        .hf {
            display: flex;
            justify-content: space-around;
            width: 100%;
            text-align: center;

            p {
                font-size: 1.4rem;
                font-weight: 700;
                color: #9c9c9c;
            }

            h1 {
                font-size: 2.2rem;
            }
        }

    }

    section.view3 {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;

        .top {
            width: 100%;

            img {
                width: 100%;
                border-radius: 0.8rem;
            }
        }

        .bottom {
            background-color: #373737;
            width: 100%;
            padding: 2rem;
            border-radius: 0.8rem;
            @include flex-column(1.5rem);

            .upper-text {
                p {
                    text-transform: uppercase;
                }
            }

            .lower-text {
                @include flex-column(0.4rem);

                h1 {
                    text-transform: uppercase;
                    font-size: 2rem;
                }

                p {
                    display: inline-block;
                    font-weight: 200;
                    opacity: 0.7;
                    line-height: 1.5;
                }
            }
        }
    }

    section.view4 {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        width: 100%;

        .top {
            width: 100%;

            img {
                width: 100%;
                border-radius: 0.8rem;
            }
        }

        .bottom {
            background-color: #373737;
            width: 100%;
            padding: 2rem;
            border-radius: 0.8rem;
            @include flex-column(1.5rem);

            .upper-text {
                p {
                    text-transform: uppercase;
                }
            }

            .lower-text {
                @include flex-column(0.4rem);

                h1 {
                    text-transform: uppercase;
                    font-size: 2rem;
                }

                p {
                    display: inline-block;
                    font-weight: 200;
                    opacity: 0.7;
                    line-height: 1.5;
                }
            }
        }
    }

    section.view5 {

        .top {
            padding: 0.2rem 1rem 2rem 1rem;

            h1 {
                font-size: 2.2rem;
            }
        }

        .bottom {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .card1 {
                width: 100%;
                aspect-ratio: 1/1;
                background-image: url(./img4.webp);
                border-radius: 0.8rem;
                background-size: cover;
                background-position: center;
                @include flex-column(1rem);
                justify-content: space-between;
                padding: 1rem;

                .card1-top {

                    .icons {
                        display: flex;
                        justify-content: flex-end;
                        padding: 0.6rem;
                        gap: 0.4rem;
                        i {
                            font-size: 1.3rem;
                            border-radius: 50%;
                            border: 2px solid #bcbcbc;
                            transition: all 1s ease;
                            cursor: pointer;
                        }
                        i:hover {
                            background-color: #bcbcbc;
                            color: #242424;
                        }
                    }
                }

                
                i, .card1-bottom {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0.7rem;
                    background-color: #3a3a3a7a;
                    backdrop-filter: blur(5px);
                    border-radius: 0.4rem;

                    p {
                        font-weight: 800;
                    }
                    h3 {
                        font-weight: 1000;
                    }
                }
            }

            .card2 {
                width: 100%;
                aspect-ratio: 1/1;
                background-image: url(./img5.webp);
                border-radius: 0.8rem;
                background-size: cover;
                background-position: center;
                @include flex-column(1rem);
                justify-content: space-between;
                padding: 1rem;

                .card1-top {

                    .icons {
                        display: flex;
                        justify-content: flex-end;
                        padding: 0.6rem;
                        gap: 0.4rem;
                        i {
                            font-size: 1.3rem;
                            border-radius: 50%;
                            border: 2px solid #bcbcbc;
                            transition: all 1s ease;
                            cursor: pointer;
                        }
                        i:hover {
                            background-color: #bcbcbc;
                            color: #242424;
                        }
                    }
                }

                
                i, .card1-bottom {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0.7rem;
                    background-color: #3a3a3a7a;
                    backdrop-filter: blur(5px);
                    border-radius: 0.4rem;

                    p {
                        font-weight: 800;
                    }
                    h3 {
                        font-weight: 1000;
                    }
                }
            }

            .card3 {
                width: 100%;
                aspect-ratio: 1/1;
                background-image: url(./img6.webp);
                border-radius: 0.8rem;
                background-size: cover;
                background-position: center;
                @include flex-column(1rem);
                justify-content: space-between;
                padding: 1rem;

                .card1-top {

                    .icons {
                        display: flex;
                        justify-content: flex-end;
                        padding: 0.6rem;
                        gap: 0.4rem;
                        i {
                            font-size: 1.3rem;
                            border-radius: 50%;
                            border: 2px solid #bcbcbc;
                            transition: all 1s ease;
                            cursor: pointer;
                        }
                        i:hover {
                            background-color: #bcbcbc;
                            color: #242424;
                        }
                    }
                }

                
                i, .card1-bottom {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0.7rem;
                    background-color: #3a3a3a7a;
                    backdrop-filter: blur(5px);
                    border-radius: 0.4rem;

                    p {
                        font-weight: 800;
                    }
                    h3 {
                        font-weight: 1000;
                    }
                }
            }
        }
    }

}

@media (min-width:900px) {
    main {
        section.view1 {
            flex-direction: row;

            .top,
            .bottom {
                width: 50%;
            }

            .bottom {
                padding: 1.5rem;
                justify-content: space-between;


                .lower-text {
                    h1 {
                        font-size: 2.8rem;
                    }
                }
            }
        }

        section.view2 {
            flex-direction: row;

            .cp,
            .hf {
                text-align: center;

                h1 {
                    font-size: 2.8rem;
                }

                p {
                    font-size: 1.5rem;
                }
            }
        }

        section.view3 {
            flex-direction: row-reverse;

            .bottom {
                padding: 1.5rem;
                justify-content: space-between;


                .lower-text {
                    h1 {
                        font-size: 2.5rem;
                    }

                    p {
                        font-size: 1rem;
                    }
                }
            }

        }

        section.view4 {
            flex-direction: row;

            .bottom {
                justify-content: space-between;
                width: 90.1%;

                .lower-text {
                    h1 {
                        font-size: 2rem;
                    }
                }
            }

        }

        section.view5 {

            .bottom {
                flex-direction: row;
            }
        }




    }
}

@media (min-width: 700px) {
    main {
        section.view3 {
            .bottom {
                .lower-text {
                    .para {
                        display: flex;
                        flex-direction: row;
                        gap: 4rem;

                        p {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }

        section.view4 {
            .bottom {
                .lower-text {
                    .para {
                        display: flex;
                        flex-direction: row;
                        gap: 2.5rem;

                        p {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}