@font-face {
    font-family: main;
    src: url(./63cffc20aa8997095067596f_Satoshi-Light.woff);
}

@mixin flex-comlumn ($gap: 0) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: main;
    background-color: #373737;
    color: white;
    font-size: clamp(14px, 1.5vw, 18px);
}

main {
    width: 100%;
    height: 100%;
    @include flex-comlumn(0rem);
    align-items: center;

    .view1 {
        padding: 1rem;
        max-width: 1600px;
        
        
        @include flex-comlumn(1rem);

        .top 
        {
            width: 100%;

            img
            {
                width: 100%;
                border-radius: 0.8rem;
            }
        }

        .bottom 
        {
            background-color: #242424;
            width: 100%;
            padding: 2rem;
            border-radius: 0.8rem;
            @include flex-comlumn(1.5rem);

            .lower-text {
                @include flex-comlumn(0.7rem);

                h1 
                {
                    text-transform: uppercase;
                    font-size: 2rem;
                }
                p 
                {
                    font-weight: 200;
                    font-size: 1.5rem;
                    opacity: 0.6;
                    line-height: 1.5;
                }
                button 
                {
                    width: fit-content;
                    outline: none;
                    border: none;
                    padding: 0.5rem 1rem;
                    border-radius: 1rem;
                    transition: all 0.7s ease;
                    cursor: pointer;
                }
                button:hover
                {
                    background-color: black;
                    color: white;
                }

            }
            
        }
    }
}

@media (min-width:900px) {
    main {
        .view1 {
            flex-direction: row;

            .top, 
            .bottom {
                width: 50%;
            }
            .bottom {
                padding: 2rem;
                justify-content: space-between;
            

                .lower-text {
                    
                    h1 {
                       font-size: 2.8rem; 
                    }
                    p {
                    }
                }
            }
        }
    }
}