* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

video {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    object-fit: top;
    object-position: center;

    z-index: -1;
}

:root {
    --x: 400px;
    --y: 400px
}

main {
    z-index: 1;
    background: radial-gradient(100px at var(--x) var(--y), rgba(255, 255, 255, 0.175), rgba(128, 128, 128, 0.973));
    height: 100%;
}