* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;

}

main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    h2 {
        text-align: center;
        color: rgb(0, 174, 255);
    }

    div {
        background-color: skyblue;
        height: 300px;
        width: 300px;
        padding: 0.4rem;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.7rem;
    }

    button {
        padding: 10px 20px;
        border-radius: 0.5rem;
        border: none;
        background-color: rgb(0, 133, 227);
        font-size: 1rem;
        transition: all ease 0.4s;
        cursor: pointer;
    }

    button:hover {
        scale: 1.04;
    }
    button:active {
        scale: 0.95;
    }
}

