* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

section {
    padding: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    color: royalblue;
}

section input {
    padding: 0.2rem;
    font-size: 1rem;
}