* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

/* ======= NAVBAR ======= */
/* ====================== */

#navbar {
    margin-top: 30px;
    margin-left: 5px;
    display: flex;
    justify-content: space-between;
}

#navbar a {
    text-decoration: none;
    padding-left: 12px;
    color: black;
}

#leftNav, #rightNav a {
    padding-left: 12px;
}

#centerNav {
    font-style: italic;
}

#leftNav {
    margin-left: 20px;
}

#rightNav {
    margin-right: 20px;
}

/* ======== MAIN ======== */
/* ====================== */

#main {
    margin-left: 45px;
    margin-top: 35px;
    display: flex;
}

#main h1 {
    font-size: 18rem;
    font-weight: 100;
    position: fixed;
    left: 30px;
    top: 15%;
}

#main, #img1 {
    height: 250px;
    position: absolute;
    top: 32%;
    left: 51%;
}

#main, #img2 {
    height: 200px;
    position: fixed;
    bottom: 14%;
    right: 45%;
}

#main, #img3 {
    height: 180px;
    position: fixed;
    bottom: 32%;
    right: 53%;
}

/* ====== LEFTBTM BAR ===== */
/* ======================== */

#leftBtm {
    margin-top: 28%;
    margin-left: 30px;
    width: 12%;
}

#leftBtm h4 {
    font-size: 110%;
    padding-bottom: 5px;
}

/* ======== FOOTER ======== */
/* ======================== */

#footer {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-top: 28px;
}

#footer p{
    font-style: italic;
}

#footer a {
    color: black;
    text-decoration: none;
    margin-right: 20px;
}