@font-face {
    font-family: iPhone-Bold;
    src: url(./sf-pro-display_bold.woff2);
}
@font-face {
    font-family: iPhone-medium;
    src: url(./sf-pro-display_medium.woff2);
}
@font-face {
    font-family: iPhone-regular;
    src: url(./sf-pro-display_regular.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    color: white;
}

/* ======== NAV BAR ======== */
/* ========================= */

#nav {
    height: 6.5%;
    width: 100%;
    background-color: #181a1b;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 37px;
    position: sticky;
    top: 0;
    font-family: iPhone-regular;
}

#nav a{
    text-decoration: none;
    color: white;
}

#txt-white {
    font-size: 18px;
}

/* ====== HERO SECTION ====== */
/* ========================== */

#hero {
    background-color: black;
    height: 100%;
    width: 100%;
    background-image: url(./img1.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 4%;
    text-align: center;
    font-family: iPhone-medium;
}

h1 {
    font-size: 45px;
    font-weight: 700;
}

#hero h3 {
    font-size: 25px;
    margin-top: 10px;
    font-weight: 300;
}

button {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 17px;
    border-radius: 20px;
    background-color: royalblue;
    border: none;
    color: white;
    cursor: pointer;
}

#hero #secBtn {
    border: 2px solid #5469a8;
    color: #5279ed;
    background-color: transparent;
    padding: 11px 17px 11px 19px;
    margin-left: 4px;
}

#hero #secBtn:hover {
    background-color: royalblue;
    border: 2px solid #5469a8;
    color: white;
}

/* === iPhone-Air Section === */
/* ========================== */

#iPhone-air {
    background-color: white;
    height: 80%;
    width: 100%;
    background-image: url(./img2.jpg);
    background-position: center;
    padding-top: 4%;
    text-align: center;
    color: black;
    font-family: iPhone-medium;
}

#iPhone-air h1 {
    margin-left: 10px;
}

#iPhone-air h3 {
    margin-top: 5px;
    width: 17%;
    text-align: center;
    position: absolute;
    top: 56rem;
    left: 41%;
    color: black;
    font-weight: 50;
    font-size: 1.3rem;
    font-weight: 100;
    margin-left: 10px;
}

#iPhone-air button {
    background-color: royalblue;
    border: none;
    color: white;
    cursor: pointer;
    border: 2px solid whitesmoke;
    padding: 11px 17px 11px 19px;
    margin-left: 4px;
    margin-top: 4%;
    text-align: center;
}

#iPhone-air #secBtn {
    border: 2px solid #5469a8;
    color: #5279ed;
    background-color: transparent;
    padding: 11px 17px 11px 19px;
    margin-left: 4px;
}

#iPhone-air #secBtn:hover {
    background-color: royalblue;
    border: 2px solid #5469a8;
    color: white;
}

/* ====== GRID Section ====== */
/* ========================== */

#grid {
    margin-top: 10px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

/* ==== iPhone-all Section ==== */
/* =========================== */

.iPhone-all {  
    flex-shrink: 0;
    background-size: cover;
    background-position: center;
    text-align: center;
    margin-left: 12px;
    margin-bottom: 12px;
    height: 35rem;
    width: 46rem;
}

.iPhone-all h1 {
    padding-top: 30px;
    color: black;
    font-family: iPhone-Bold;
    font-size: 35px;
}

.iPhone-all h3 {
    font-family: iPhone-regular;
    color: black;
}

.iPhone-all button {
    background-color: royalblue;
    border: none;
    color: white;
    cursor: pointer;
    border: 2px solid whitesmoke;
    padding: 9px 11px 9px 13px;
    margin-left: 4px;
    margin-top: 4%;
    text-align: center;
}

.iPhone-all #secBtn {
    border: 2px solid #5469a8;
    color: #5279ed;
    background-color: white;
    padding: 8px 11px 8px 13px;
    margin-left: 4px;
}

.iPhone-all #secBtn:hover {
    background-color: royalblue;
    border: 2px solid #5469a8;
    color: white;
}


/* ====== iPhone Section ====== */
/* ============================ */

#iPhone-17 {
    background-image: url(./img3.jpg);
    background-size: cover;
    background-position: center;
    height: inherit;
    width: inherit;
}

.iPhone-all #iPhone-17 h3 {
    font-weight: 50;
    font-size: 24px;
}

/* ====== WATCH Section ====== */
/* =========================== */

#watch {
    background-image: url(./img4.jpg);
    background-size: cover;
    background-position: center;
    height: inherit;
    width: inherit;
}

.iPhone-all #watch h3 {
    font-weight: 50;
    font-size: 24px;
}

.iPhone-all #watch i {
    font-weight: 50;
    font-size: 35px;
}

/* ==== EDUCATION Section ==== */
/* =========================== */

.iPhone-all #education {
    background-image: url(./img5.jpg);
    background-size: cover;
    background-position: center;
    height: inherit;
    width: inherit;
    padding-top: 22rem;
}

.iPhone-all #education h1, .iPhone-all #education h3 {
    color: white;
    font-weight: 50;
    font-size: 24px;
}

.iPhone-all #education button {
    border: none;
}

/* ==== AIRPODS Section ==== */
/* ========================= */

#airpods {
    background-image: url(./img6.jpg);
    background-size: cover;
    background-position: center;
    height: inherit;
    width: inherit;
}

.iPhone-all #airpods h3 {
    padding-left: 1px;
    font-weight: 50;
    font-size: 24px;
    text-align: center;
}

/* ==== MACBOOK Section ==== */
/* ========================= */

#macbook {
    background-image: url(./img7.jpg);
    background-size: cover;
    background-position: center;
    height: inherit;
    width: inherit;
}

.iPhone-all #macbook h3 {
    font-weight: 50;
    font-size: 20px;
}

/* ==== TRADE-IN Section ==== */
/* ========================== */

#tradeIn {
    background-image: url(./img8.jpg);
    background-size: cover;
    background-position: center;
    height: inherit;
    width: inherit;
}

.iPhone-all #tradeIn i {
    font-weight: 50;
    font-size: 35px;
}

.iPhone-all #tradeIn h3 {
    font-weight: 50;
    font-size: 20px;
}

.iPhone-all #tradeIn #fstBtn {
    font-weight: 50;
}