* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    /* background-color: black; */
    font-family: Arial, Helvetica, sans-serif;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    position: relative;
}

button {
    padding: 0.7rem 1.4rem;
    border: none;
    border-radius: 0.8rem;
    background-color: royalblue;
    font-size: 1.5rem;
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.6s ease;

    position: relative;
    z-index: 9;
}

button:hover {
    scale: 1.05;
}

button:active {
    scale: 0.95;
}