* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

@mixin imgs($pos) {
    background-repeat: no-repeat;
    background-position: $pos;
    background-size: cover;
    border-radius: 15px;
}

main {
    display: grid;
    padding: 20px;
    height: 100%;
    width: 100%;
    background-color: rgb(27, 27, 27);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1.2fr 0.8fr;
    column-gap: 1.5rem;
    row-gap: 2rem;
    grid-template-areas:
        "img1 img2 img2 img2"
        "img1 img3 img4 img5";

    #img1 {
        grid-area: img1;
        background-image: url("./img1.jpg");
        @include imgs(center);
        background-color: #ff0000;
    }

    #img2 {
        grid-area: img2;
        background-image: url("./img2.jpg");
        @include imgs(center);
        background-color: #310c0c;
    }

    #img3 {
        grid-area: img3;
        background-image: url("./img3.jpg");
        @include imgs(center);
        background-color: #00ff4c;
    }

    #img4 {
        grid-area: img4;
        background-image: url("./img4.jpg");
        @include imgs(bottom);
        background-color: rgb(0, 22, 121);
    }

    #img5 {
        grid-area: img5;
        background-image: url("./img5.jpg");
        @include imgs(center);
        background-color: rgb(1, 80, 40);
    }
}