* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 200%;
    width: 100%;
    box-sizing: border-box;
    cursor: none;
}

main img{
    width: 1.8rem;
    position: fixed;
    transform: translate(-50%, -50%);
}