* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

#write h1{
    background-image: url(https://media.tenor.com/YGmxicSixkUAAAAM/colors.gif);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: transparent;
    font-size: 60px;

    background-clip: text;
}

h2 {
    text-align: center;
    color: transparent;
    font-size: 60px;

    -webkit-text-stroke: 2px crimson;
}



#parent {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    background-color: #b7b7b7;

    overflow: auto;
}

#parent::-webkit-scrollbar {
    background-color: aqua;
    height: 10px;
}

#parent::-webkit-scrollbar-thumb {
    background-color: royalblue;
    border-radius: 30px;
}

#child {
    margin: 10px;
    height: 350px;
    width: 350px;
    border-radius: 10px; 
}

#child img {
    flex-shrink: 0;
    height: inherit;
    width: inherit;
    object-fit: cover;
    border-radius: 10px;
}