* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    align-items: center;

    div {

        h1 {
            background-image: url(https://c.tenor.com/7O_b7XHfOroAAAAd/tenor.gif);
            background-image: cover;
            // background-position: center;
            color: transparent;
            font-size: 1.8rem;

            background-clip: text;
        }
    }



    section {
        gap: 1rem;
        background-color: #aa00da;
        padding: 1rem;
        height: 250px;
        width: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 0.8rem;

        h1 {
            background-image: url(https://c.tenor.com/7O_b7XHfOroAAAAd/tenor.gif);
            font-size: 5rem;
            font-family: sans-serif;
            background-image: cover;
            color: transparent;

            background-clip: text;
        }

        .button {
            display: flex;
            gap: 1rem;
            align-items: center;

            button {
                padding: 0.6rem 1rem;
                border: none;
                background: linear-gradient(5deg, #a18cd1, #fbc2eb);
                // background-image: url(https://c.tenor.com/7O_b7XHfOroAAAAd/tenor.gif);
                font-size: 1rem;
                cursor: pointer;
                transition: all ease 0.6s;
                border-radius: 0.4rem;
            }

            button:hover {
                scale: 1.05;
            }

            button:active {
                scale: 0.95;
            }
        }
    }

}