* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    section {
        padding: 1rem;

        .outer {
            height: 370px;
            width: 280px;
            background-color: white;
            border-radius: 0.8rem;
            padding: 1rem;
            position: relative;

            .top {
                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                    height: 320px;
                    width: 250px;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 0.8rem;
                    position: relative;
                    cursor: pointer;
                }

                i {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    font-size: 4.5rem;
                    color: white;
                    cursor: pointer;
                    pointer-events: none;
                    transition: all ease 0.9s;

                    opacity: 0;
                    transform: translate(-50%, -50%) scale(0);
                    background-image: url(./bgColor.avif);
                    background-size: cover;
                    color: transparent;
                    background-clip: text;
                    -webkit-background-clip: text;

                }
            }

            .bottom {
                padding: 1rem;
                display: flex;
                flex-direction: column;
                align-items: center;

                h2 {
                    font-weight: 500;
                    font-size: 1.5rem;
                    color: dimgray;
                }
            }
        }
    }
}