* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

#main {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

#card {
    margin-left: 10px;
    margin-top: 20px;
    height: 340px;
    width: 340px;
    background-color: #dddddd;
    border-radius: 10px;
    position: relative;

    overflow: hidden;
}

#card img {
    object-fit: cover;
    height: inherit;
    width: inherit;
    border-radius: inherit;
}

#lowerbtm {
    height: 40%;
    width: 100%;
    background: linear-gradient(transparent, #757575);
    position: absolute;
    bottom: -40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bolder;
    padding: 20px; 
    
    transition: all ease 0.6s;
}

#lowerbtm {
    font-size: 20px;
    font-weight: 500;
}

#card:hover #lowerbtm {
    bottom: 0;
}
